BANNERS_TESTS_URL=http://localhost
BANNERS_TESTS_AUTH_LOGIN=admin
BANNERS_TESTS_AUTH_PASS=password
BANNERS_TESTS_API_KEY_REGULAR=YOUR_API_KEY
BANNERS_TESTS_API_KEY_REVIEW=YOUR_API_KEY
BANNERS_TESTS_API_KEY_TRIAL_EXPIRED=YOUR_API_KEY
BANNERS_TESTS_API_KEY_PAID_EXPIRED=YOUR_API_KEY
BANNERS_TESTS_REGULAR_TIMEOUT=20
BANNERS_TESTS_HEADLESS=yes
BANNERS_TESTS_DB_NAME=db_name
BANNERS_TESTS_DB_USER=db_user
BANNERS_TESTS_DB_PASSWORD=db_pass
